apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-ui
spec:
  replicas: {{ .Values.ui.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-ui
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-ui
    spec:
      containers:
      - name: {{ .Release.Name }}-ui
        image: {{ .Values.common.acrURL }}/{{ .Values.ui.image.name }}/{{ .Values.ui.image.tag }}
        ports:
        - containerPort: {{ .Values.ui.port }}